h1{
    color: blue;
    text-decoration: underline;
    background-color: yellow;
}

.heading{
    color: red;
    background-color: pink;
    font-size: bolder;
    text-align: center;
}

body{
    background-color: pink;
}

button{
    background-color: blue;
}